@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800&display=swap");

body {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    color: #fff;
    position: relative;
}
html {
    height: 100%;
    width: 100%;
}

:root {
}
:root.light-theme {
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}
.upper-btn {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 75px;
    height: 75px;
    transition: all 0.4s;
}
.btn-upper-active {
    opacity: 1;
    visibility: visible;
}

/* ---------------------------------------------------------- */
header {
    background: url("../images/reviewbg.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
    position: relative;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: space-between;
    color: rgb(225, 225, 225, 1);
    column-gap: 80px;
    margin-bottom: 80px;
}
.header-title {
    font-size: 128px;
    background: linear-gradient(178.24deg, #eeeeee -40%, #12201b 265.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: drop-shadow(10px 10px 10px #224534);
    margin-bottom: 80px;
}
.header-subtitle {
    background: linear-gradient(178.24deg, #eeeeee -40%, #12201b 265.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: drop-shadow(10px 10px 10px #224534);
    font-size: 48px;
    margin-bottom: 80px;
    text-align: center;
}
.header-text {
    color: rgb(225, 225, 225, 1);
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    text-align: center;
}
.header-arrows {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -50px;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px;
    padding-top: 100px;
}
.review-content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.review-block {
    padding: 60px;
    background: linear-gradient(168.14deg, #252525 -2.56%, #12201b 122.31%);
    border-radius: 10px;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.review-photo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    margin-top: -50px;
    width: 100px;
}
.review-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #cccccc;
    margin-bottom: 8px;
}
.review-line {
    width: 50px;
    height: 5px;
    background: #224534;
    border-radius: 50px;
    margin-bottom: 16px;
}
.review-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #cccccc;
    opacity: 0.8;
    margin-bottom: 16px;
}

footer {
    background: #1e1e1e;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.16);
}
.footer {
    display: flex;
    padding: 80px 0px 100px 0px;
    justify-content: space-between;
    column-gap: 32px;
    flex-wrap: wrap;
}
.footer-block {
    max-width: 45%;
    background: linear-gradient(
            0deg,
            rgba(34, 2, 67, 0.54) -13.57%,
            rgba(0, 0, 0, 0) 137.14%
        ),
        #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.footer-contacts-item {
    display: flex;
    column-gap: 8px;
}
.footer h3 {
    margin-bottom: 32px;
}
.footer-nav-list,
.footer-contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.footer-list-item:hover,
.footer-contacts-item:hover,
.header-link:hover {
    background: #6f9f32;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.footer-list-item:active,
.footer-contacts-item:active,
.header-link:active {
    background: #3b5718;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.feedback {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../images/feedbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.feedback-content {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}
.feedback-content span {
    background: linear-gradient(121.54deg, #eeeeee -36.02%, #12201b 178.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.feedback-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.feedback-content input {
    opacity: 0.25;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 15px 0px 15px 20px;
}
.input-subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.7;
}
.feedback-content textarea {
    opacity: 0.25;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}
.feedbtn {
    background: #6f9f32;
    /* Отзыв */
    text-align: center;
    box-shadow: 0px 4px 10px rgba(18, 32, 27, 0.75);
    border-radius: 15px;
    padding: 15px 120px;
}
.feedbtn:hover {
    background: #5b822c;
}
.feedbtn:active {
    background: #405c1b;
}
.feedback h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */

    text-align: center;

    background: linear-gradient(188.32deg, #eeeeee -43.85%, #12201b 297.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 40px;
}
.services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 32px;
}
.service-block {
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    z-index: 2;
    overflow: hidden;
    border-radius: 40px;
    padding: 0px 0px;
}
.service-block::after {
    content: "";
    display: block;
    background-color: #3b5718;
    width: 80%;
    height: 5px;
    left: 0;
    right: 0;
    margin: -8px auto 0px auto;
    z-index: 5;
}
.service-block::before {
    content: "";
    display: block;
    background-color: #3b5718;
    width: 80%;
    height: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 5;
}
.service-block-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    background: linear-gradient(188.32deg, #eeeeee -43.85%, #12201b 297.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    z-index: 3;
}
.service-block img {
    border-radius: 45px;
    background-color: #1e1e1e;
}

.service-block:hover img {
    position: relative;
    transform: scale(1.2);
    transition: 0.4s;
}
.service-title {
    font-weight: 600;
    font-size: 128px;
    line-height: 156px;
    /* identical to box height */

    text-transform: uppercase;
}

@media (max-width: 1240px) {
    .header-title {
        font-size: 96px;
    }
    .header-subtitle {
        font-size: 36px;
        text-align: center;
    }
}

@media (max-width: 950px) {
    .container {
        padding: 0px 8px;
    }
    header {
        padding-top: 24px;
    }
    .header-title {
        font-size: 64px;
    }
    .header-nav {
        column-gap: 40px;
    }
    .header-subtitle {
        font-size: 28px;
        font-weight: 900;
    }
    .footer {
        padding: 40px 8px 40px 8px;
        column-gap: 16px;
        justify-content: center;
        font-size: 14px;
        margin: 0 auto;
    }
    .footer-block:first-child {
        display: none;
    }
    .footer h3 {
        margin-bottom: 16px;
        font-size: 20px;
    }
    .footer-nav-list,
    .footer-contacts-list {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
}

@media (max-width: 630px) {
    header {
        height: 100vh;
    }
    .header-title {
        margin-bottom: 40px;
        font-size: 48px;
    }
    .header-text {
        font-size: 18px;
    }
    .header-nav {
        column-gap: 8px;
        margin-bottom: 32px;
    }
    .header-nav img {
        min-width: 50px;
        min-height: 100%;
    }
    .header-arrows {
        bottom: 0;
    }
    .footer {
        padding: 40px 0px;
    }
}
.omg {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    text-align: center;

    background: linear-gradient(122.65deg, #eeeeee -36.3%, #12201b 287.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
